* {
  text-decoration: none;
  margin:0;
  padding:0;
}
body {
  font-family: "Open Sans", sans-serif;
}

/* Nav Related Style */
nav{
    color: #FFF8F3;
    margin:0 160px;
}
.website_logo {
  color: #181818;
  font-size: 45px;
  font-weight: 800;
}
.primaryTextColor {
    color: #FD6E0A;
    font-size: 70px;
    font-weight: 800;
}
nav li {
  display: inline;
}
nav li a {
  color: black;
  margin-right: 10px;
}
.primary_Button {
  background-color: #fd6e0a;
  padding:18px 35px;
  border-radius: 5px;
  border: none;
  font-size: 20px;
  font-weight: 700; 
}
.Primary-btn-color {
    color: white;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items:center;
  }
/* Banner Relatade Style */
.Greeting{
color: #474747;
font-size: 45px;
font-weight: 600;
margin-bottom:0px;

}
.bannerTitle{
 color: #181818;
 font-size: 85px;
 font-weight: 700;
 margin:0px;
 
}
.banner-discription{
 color: #757575;
 max-width:500px;

}
.Secondary_Button {
  padding:18px 35px;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 700; 
  border: 2px solid #fd6e0a;
}
.Secondary-btn-color {
  color: #fd6e0a;
}

.banner {
  display: flex;
  padding:30px 30px 0px 150px;
  justify-content: space-between;
  background-image: url(../images/header_bg.png);
  background-repeat: no-repeat;
  background-position: bottom right;
  align-items: center;
}

.bannerImg .ProfilePic{
    width:500px;
}
/* main section relatade style */
/* About Related style */
main{
  max-width:1140px;
  margin:0 auto;
}
.aboutSection{
  background-color:#FFF8F3;
  text-align: center;
  margin-top: 120px;
}
.sectionTitle{
 color: #181818;
 font-size: 35px; 
 padding:130px 150px 0px 150px;
}
.sectionDiscription{
 color: #757575;
 font-size: 18px;
 padding:30px 130px 30px 130px ;
}
.aboutInfo-container{
  display: flex;
  justify-content: space-around;
  padding-bottom: 130px;
}
.infoTitle{
  color: #757575;
  font-size: 20px; 
  
}
/* What do Section */
.whatDo-Section{
  text-align: center;
}
/* card-Section */
.Card-Container{
  display: flex;
  justify-content: space-around;
}
.card{
  width:270;
  height:380;
  padding:35px;
  gap:20px;
 
}
.card-discription{
  color: #757575;
  font-size: 16px; 
}